.card {
    width: 238px;
    padding: 6px 8px;
    border-radius: 10px;

    border: 1px solid #DDDD;
}
.card__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__text-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card__price-container {
    display: flex;
    gap: 9px;
    align-items: center;
}

.card__image {
    height: 222px;
    width: 222px;
    border-radius: 8px;
    object-fit: cover;
}

.card__new-tag {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 10px;
    font-weight: 600;

    background-color: #00264E;
    color: #fff;
    border-radius: 4px;
    padding: 3px 4px ;

}

.card__new-offer {
    background-color: #5EC0BE;
    font-size: 11px;
    color: #fff; 
    width: fit-content;
    font-weight: 600;

    padding: 4px 8px;
    border-radius: 4px;
}

.card__button--buy {
    border: 1px solid #0EAA38 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent !important;
    color: #303030 !important;
    max-height: 40px;
}