.header_alert {
    font-family: "Nunito Sans", "sans-serif";
    font-size: 14px;
    font-weight: 700;
    background-color: var(--main_color);
    color: #fff;
    padding: 6px 16px;
    text-align: center;
}

.header_alert__emphasis {
    background-color: var(--emphasis_color);
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}