.header {
    position: sticky;
    display: flex;
    flex-direction: column;
    z-index: 10; 
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    top: 0px;
}

.header-alert {
    font-family: "Nunito Sans", "sans-serif";
    font-size: 14px;
    font-weight: 700;
    background-color: var(--main_color);
    color: #fff;
    padding: 6px 16px;
    text-align: center;
}

.header-alert__emphasis {
    background-color: var(--emphasis_color);
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

.header-middle {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 17px 0px 23px 0px;
}

.header__logo-and-search-container {
    display: flex;
    gap: 65px;
    width: 100%;
}

.header__user-and-shop-container {
   display:  flex;
   gap: 24px;
   align-items: center;
}

.header__user {
    line-height: 1;
    display:  flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;    
}

.header__user > img {
    height: 24px;
    width: 24px;
}

