.box-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box, .box--small {
    padding-left: 22px;
    padding-right: 22px;
}

.box--small {
    width: 100%;
    max-width: 1177px;
}
.box {
    width: 100%;
    max-width: 1280px;  
}
.box--large {
    width: 100%;
    max-width: 1320px;  
}

.box--columns {
    display: flex;
    gap: 18PX;
}

.box--lines {
    display: flex;
    flex-direction: column;
}