.box-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box, .box--small {
    padding-left: 22px;
    padding-right: 22px;
}

.box--small {
    width: 100%;
    max-width: 1177px;

}
.box {
    width: 100%;
    max-width: 1280px;  
}
.box--large {
    width: 100%;
    max-width: 1320px;  
}

.box--lines {
    display: flex;
    flex-direction: column;
}

.margin--small{
    margin: 56px 0px;
}

.margin--regular{
    margin: 64px 0px;
}

.margin--large{
    margin: 96px 0px;
}

.--hidden {
    display: none;
}

@media screen and (max-width: 640px) {
    .margin--large {
        margin: 56px 0px;
    }

    .margin--regular{
        margin: 40px 0px;
    }

    
    .box, .box--small {
        padding-left: 16px;
        padding-right: 16px;
    }
}