.button {
    background-color: var(--main_color);
    color: #fff;
    padding: 14px 24px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease;
    font-weight: 700;
 }

.button--small {
    padding: 10px 24px;
    transition: all 0.2s ease;
}

.button:hover,.button--small:hover{
    background-color: var(--main_hover_color);
}