.button {
    background-color: var(--main_color);
    color: #fff;
    padding: 14px 24px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.button--small {
    padding: 10px 24px;
}