.input__container {
    display: flex;
    gap: 8px;
    width: 100%;
    max-width: 594px;
    padding: 9px 16px;
    border: 1px solid #DDDD;
    border-radius: 8px;
    background-color: #fff;

}

.input__container:has(.input:focus) {
    outline: 1px solid;
}

.input {
    width: 100%;
    border: none;
    outline: none;
}

.input__checkbox-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.input__checkbox {
    border: 1px solid #DDDD;
}

.input::placeholder {
    color: currentColor;
}