.font--thin {
    font-weight: 100;
}
.font--bold {
    font-weight: 700;
}

.font--color-main {
    color: var(--main_color);
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.font--extra-small {
    font-size: 12px;
}

.font--small {
    font-size: 14px;
}

.font--regular {
    font-size: 16px;
}

.font--medium {
    font-size: 18px;
}

.font--large {
    font-size: 20px;
}

.font--extra-large {
    font-size: 24px;
}

.font--line-through {
    text-decoration: line-through;
}

.text--center {
    text-align: center;
}

.nunito-sans {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}