

.about__text-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;    
}

.about__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 747px;
    width: 100%;
    min-width: 652px;
    background-color: #C2C2C2;
}

.about__image{
    width: 100%;
    object-fit: cover;
}


@media screen and (max-width: 1080px) {
    .about__image-container {
       height: 390px;
    }

    .about__image{
        height: 100%;
        width: auto;
    }
    
}