.about__text-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;    
}

.about__image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 747px;
    width: 100%;
    max-width: 652px;

    background-color: #C2C2C2;
}
