.products {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.products__header {
    padding: 0px 30px;
    display: flex;
    gap:20px;
    justify-content: space-between;
}

.products__show-more {
    color: #303030;
    font-weight: 600;
}

@media screen and (max-width: 480px) {
    .products--desktop-only {
        display: none !important;
    }
}