@import "./header/header.css";
@import "./header/shopCard.css";
@import "./header/navigation.css";
@import "./banner/banner.css";
@import "./ui/box.css";
@import "./ui/text.css";
@import "./ui/input.css";

:root {
    --main_color: #005CFF;
    --emphasis_color: #6220C1;
}

* {
    box-sizing: border-box;
    font-family: "Nunito", "sans-serif";
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
}


/* .nunito-sans {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */

